<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8">

        {% set gtag_id = config.extra.google_analytics_measurement_id %}
        {% if gtag_id %}
            <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ gtag_id }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag("js", new Date());

                gtag("config", "{{ gtag_id }}");
            </script>
        {% endif %}

        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/line-awesome/css/line-awesome.min.css"/>
        <script src="/js/main.js" defer></script>
        {% block head_extend %}{% endblock %}
    </head>

    <body class="bg-white dark:bg-slate-900 transition ease-in-out">
        <section>
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
