<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel="stylesheet" href="/style.css">
        <meta charset="utf-8">
        <title>Home - ssiyad.com</title>
    </head>

    <body>
        <section class="section">
            <div class="container">
                {% block content %} {% endblock %}
            </div>
        </section>
    </body>

</html>
