<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"/>
        <!-- TODO: use `get_url` -->
        <link rel="stylesheet" href="/styles/styles.css"/>
        {% block head_extend %}{% endblock %}
    </head>

    <body>
        <div class="bg-white dark:bg-slate-900 transition ease-in-out">
            <section>
                {% block content %}{% endblock %}
            </section>
        </div>
        <script src="/script.js"></script>
    </body>
</html>
