{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/blog-list.css">

    <h1 class="title">
        {{ section.title }}
    </h1>

    <ul class="post-list">
        {% for page in section.pages %}
            <li class="post-item">
                <a class="post-link" href="{{ page.permalink | safe }}">
                    {{ page.title }}
                    <div class="arrow-right">
                        <i class="las la-arrow-right"></i>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}

