{% extends "base.html" %}

{% block head_extend %}
    <title>Home | {{ config.title }}</title>
{% endblock head_extend %}

{% block content %}
<div class="h-screen w-screen flex flex-row">
    <div class="h-screen w-1/2">
        <img src="/wall.jpg" class="object-cover h-screen w-full"/>
    </div>
    <div class="h-screen w-1/2 flex items-center">
        <div class="mx-8">
            <h1 class="font-serif text-2xl text-black dark:text-slate-300">
                Hello, I am Sabu Siyad!
            </h1>
            <p class="font-sans text-gray-600 dark:text-slate-500">
                I love to code, build and break
            </p>
            <div class="mt-4">
                <a class="font-sans text-gray-600 hover:text-gray-400
                    dark:text-slate-500 dark:hover:text-slate-400 transition"
                    href="/blog">
                    Visit my blog <i class="las la-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
