{% extends "base.html" %}

{% block content %}
<div class="h-screen w-screen flex flex-row">
    <div class="h-screen w-1/2">
        <img src="/wall.jpg" class="object-cover h-screen w-full"/>
    </div>
    <div class="h-screen w-1/2 flex items-center">
        <div class="mx-8">
            <h1 class="font-serif text-2xl">
                Hello, I am Sabu Siyad!
            </h1>
            <p class="font-sans text-gray-600">
                I love to code, build and break
            </p>
        </div>
    </div>
</div>
{% endblock content %}
