{% extends "base.html" %}

{% block content %}
<div class="intro">
    <div class="container">
        <img src="https://media-exp1.licdn.com/dms/image/D5603AQGkJmpzqP8K7Q/profile-displayphoto-shrink_400_400/0/1665318867157?e=1673481600&v=beta&t=liBXZ5uj1CYOIarzgHuN8DsJ84186YbZiCnriVFDcTU" />
        <div class="about">
            <div class="title">
                Hello, I'm Sabu Siyad!
            </div>
            I love to code, experiment, and listen.
        </div>
    </div>

    <div class="down-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" />
        </svg>
    </div>

</div>
{% endblock content %}
