{% macro header(components, is_page) %}
<div class="sticky top-0 bg-slate-100 dark:bg-slate-800">
    <div class="container mx-auto flex place-content-between
        py-16 lg:py-8 font-sans text-6xl lg:text-2xl text-slate-900
        dark:text-slate-300">
        <div class="flex">
            {% set_global rel_url = "/" %}
            {% for component in components %}
            {% set_global rel_url = rel_url ~ component ~ '/' %}
            {% if not loop.last %}
            <a class="m-0 p-0 text-slate-900 hover:text-slate-700
                            dark:text-slate-300 dark:hover:text-slate-200" href="{{ rel_url }}">
                /{{ component }}
            </a>
            {% elif is_page %}
            {% else %}
            <div class="m-0 p-0 text-slate-700 dark:text-slate-200">
                /{{ component }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="flex gap-4">
            <div id="back-to-top" class="hidden cursor-pointer">
                <i class="las la-level-up-alt"></i>
            </div>
            <a href="/"><i class="las la-home"></i></a>
            <div id="darkmode-toggle" class="cursor-pointer">
                <div class="hidden dark:inline">
                    <i class="las la-sun"></i>
                </div>
                <div class="inline dark:hidden">
                    <i class="las la-moon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro head %}
