{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}
    {{ macros::head(title="/blog/") }}
    <div class="container mx-auto w-1/2">
        <h1 class="w-2/3 my-4 font-serif text-xl text-slate-900 dark:text-slate-300">
            {{ page.title }}
        </h1>

        <div class="prose dark:prose-invert prose-pre:rounded-none prose-headings:font-serif">
            {{ page.content | safe }}
        </div>
    </div>
    {{ macros::footer() }}
{% endblock content %}

